.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.height-100 {
  height: 100%;
}

body, html, #root, #main-container, #content-container {
  height: 100%;
}

body, html {
  overflow-y: hidden;
}

#root #main-container {
  display: flex;
  flex-flow: column;
}

#root #main-container .main-app-bar button {
  display: none !important;
}

@media (max-width: 667px) {
  #root #main-container .main-app-bar button {
    display: flex !important;
  }
}

#root #main-container .main-app-bar button svg path {
  fill: #00BCD4;
}

#root #main-container #flex-container {
  display: flex;
  height: 100%;
}

#root #main-container #flex-container #main-sidebar {
  height: 100%;
  width: 224px;
  transition: margin-left 0.33s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: margin-left 0.33s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: margin-left 0.33s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: margin-left 0.33s cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 667px) {
  #root #main-container #flex-container #main-sidebar {
    margin-left: -224px;
  }
}

#root #main-container #flex-container #main-sidebar.open {
  margin-left: 0 !important;
}

#root #main-container #flex-container #content-container {
  overflow: auto;
  flex: 2;
}

#root #main-container #main {
  display: inline-block;
}
