@import 'shared/variables';
@import 'shared/helpers';
@import 'shared/mixins';

body,html,#root,#main-container,#content-container{
    height: 100%;
}

body,html{
    overflow-y: hidden;
}

#root{
    #main-container{
        display: flex;
        flex-flow: column;
        -webkit-overflow-scrolling: touch;
        .main-app-bar{
            button{
                display: none !important;
                @media(max-width: $max-ipad-width){
                    display: flex !important;
                }
                svg{
                    path{
                        fill: $secondary-accent-color;
                    }
                }
            }
        }

        #flex-container{
            display: flex;
            height: 100%;

            #main-sidebar{
                height: 100%;
                width: 224px;
                @include transition(margin-left, .33s, $ease-out);
                @media(max-width: $max-ipad-width){
                    margin-left: -224px;
                }
            }

            #main-sidebar.open{
                margin-left: 0 !important;
            }
            
            #content-container{
                overflow: auto;
                flex: 2;
            }
        }
       
        #main{
            display: inline-block;
        }
    }
}
