.side-menu {
  padding-top: 20px;
}

.side-menu .metric-container {
  padding: 8px 10px 0 10px;
}

.side-menu .metric-container h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #757575;
}
