@import 'shared/variables';
#zip-details-tab{
    .recharts-wrapper{
        width: 100%;
    }

    .chart-container{
        display: block;
        float: left;
        width: 25%;
        margin-top: 25px;
        height: 350px;
        @media(max-width: $max-ipad-width){
            width: 50%;
        }
        @media(max-width: $max-phone-width){
            width: 100%;
        }
    }

    .metric-containers{
        float: left;
        width: 50%;

        @media(max-width: $max-phone-width){
            width: 100%;
        }
    }
}

.zip-detail-modal{
    .zip-detail-modal-content{
        height: 100vh !important;
        width: 100vw !important;
        margin: 0 !important;
        top: 0 !important;
    }
}

//table chart zip pivot column to show tooltips
.rt-td.rt-expandable.rt-pivot{
    overflow: visible;
}

.zip-detail-modal{
    height: 100vh;
    width: 100vw;
    margin: 0;
}